html {
	font-family: 'Fira Sans Condensed', sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size:100%;
	margin:0;
	padding:0;
	position: relative;
	min-height: 100%;
	height: 100%;
}
body {
   margin:0;
   padding: 0;
   height:100%;
}
section {
	 padding-top:0;
   padding-bottom:0;   /* Height of the footer */
}
footer {
    height:3em;
    background-color:mediumseagreen;
    text-align:center;
		z-index: 3;
		position:relative;
		left:0;
		right:0;
		bottom:0;
}
.navbar-header {
	width: 35%;
}
.navbar {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
	position:relative;
	left:0;
	right:0;
	top:0;
}
.dropdown-menu>li>a {
    color: rgba(255,255,255,.5);
		padding: .5rem 1rem;
}
.dropdown-menu>li>a>i {
		padding: .5rem 1rem;
}
.dropdown-menu>li>a:hover {
    color: white;
		text-decoration: none;
}
.dropdown ul.dropdown-menu {
		background-color: #343a40;
		width:250px;
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    position: absolute;
		left: -216px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #343a40;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
ul.dropdown-menu hr {
		background-color: #ccc;
}
.dropdown-toggle::after {
    display:none
}
.disabled {
		cursor:not-allowed;
		pointer-events:none;
		color:#AAA;
    background:#F5F5F5;
}
.messagefooter {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.messagebody {
	position: absolute;
	top:35%;
	left:10%;
}
#logo{
	height:30px;
	width:30px;
}

.toplinks>li>a:hover {
    color: white!important;
		text-decoration: none;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
    background-color: #080808;
}

#tag {
	-webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
    clip: rect(0px, 141.421px, 70.7107px, 0px);
    height: 141.421px;
    position: absolute;
    right: -20.7107px;
    top: -20.7107px;
    width: 141.421px;
    z-index: 1;
}

#price {
	color: white;
 -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
		font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 700;
    left: 20px;
    top: 20px;
    display: block;
    height: 100px;
    position: relative;
    width: 100px;
		opacity: 0.8;
    z-index: 2;
}

#price span {
	position: relative;
  top: 10px;
  left: 10px;
  display: block;
  text-align: center;
}

#head {
  font-family: 'Fira Sans Condensed', sans-serif!important;
	font-weight:bold;
	font-stretch:ultra-expanded;
	font-size:140%;
  color:white;
	text-align: center;
	cursor:context-menu;
}
h2 {
	font-size:250%;
	color:#C2561A;
	text-align: center;
}
h2 a {
	text-decoration: none!important;
}
h3 {
	font-size:200%;
	color:#C2561A;
	text-align: center;
}
.leftNav {
padding:5px;
/*background-color:lightgray;*/
min-height:50%;
}
.releted-content{
padding:5px;
/*background-color:lightgray;*/
min-height:25%;
}
.content-box {
	background-color:#daeee3;
	padding:2%;
	text-align:center;
	width: 100%;
	margin: 1% auto;
	box-shadow: 2px 3px lightgray;

}
.content {
	background-color:transparent;
	text-align:center;
	margin:0px;
	padding: 32px 32px 0px 32px;
}
.cellimg {
	padding:5px;
	width:95%;
	height: 120px;
	outline:none;
}
#picturetable {
	border:collapse;
}

td + td { border-left: 2px ridge mediumseagreen; }
tr + tr { border-top: 2px ridge mediumseagreen; }
tr.hide-row { display:none; visibility:hidden; }
#picturetable td {
	border-top:0px!important;
}

.menu li a {
    border-color: #ddd;
    padding-left: 15px;
    background-color: transparent;
    background: mediumseagreen;
	  box-shadow: 0 3px #999;
    margin: 1px;
    display:block;
    width:100%;
    padding: 5px;
    color: white;
}
.menu li a:hover {
	text-decoration:none;
	text-shadow: 1px 2px skyblue;
}
.menu li a:active {
    background-color:green;
    border:1px solid green;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.sidebar-nav {
    display: block;
		border:solid 1px white;
    color: #333;
    font-size:100%;
    text-decoration: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.form-row {
	padding: 1%;
}
.form-element {
    height:7%!important;
    margin-left: 0.75%;
}
button:hover{
	font-weight:bold;
}
.btn-danger:active, .btn-danger.active {
    background-color:forestgreen;
    border:1px solid green;
}

.tooltip.top .tooltip-arrow {
    border-top-color:forestgreen;
}
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
.table#usertable {
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    float: none;
}
.tooltip-inner {
    background-color:forestgreen;
}
#signin-text{
	cursor:pointer;
}
#signupdiv{
	opacity:0.95;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#signindiv{
	opacity:0.92;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#forgotpassworddiv {
	opacity:0.92;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#updatepwddiv {
	opacity:0.92;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#termsofusediv {
	opacity:0.92;
	background: #000;
	display: none;
  margin: 0px auto;
}
div.forgotpopup h2, div.popup h2, .modal-title, .wishitem h2{
	font-size:35px;
	text-shadow:0.5px 0px 2px gray;
	color:#3e8e41;
}
div.popup h4 {
	text-align:center;
	text-shadow:0.5px 0px 2px gray;
	color:#3e8e41;
	position:relative;
	top:-15px;
}
div.popup input[type=button],input[type=submit],input[type=reset] {
	height:25px!important;
	margin-right:5px;
	width:30%!important;
	padding: 3px 5px!important;
	font-size: 15px!important;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px!important;
	box-shadow: 0 3px #999;
	color:#FDFDFD!important;
}

div.popup input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover {background-color: #3e8e41}

div.popup input[type=button]:active,input[type=submit]:active,input[type=reset]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.popup input[type=text], input[type=email], input[type=password]{
	border:none;
	padding:5px;
  background-color:transparent;
}
.popup .input-group{
  width:100%;
  border: 1px gray solid;
  border-radius:3px;
  padding: 2px;
}
.popup .form-control, .form-control:focus {
  outline:none !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.popup .input-group .fa{
  color:gray;
}
.forgotpopup input[type=email]{
	border:none;
	padding:5px;
  background-color:transparent;
}
.forgotpopup .input-group{
  width:100%;
  border: 1px gray solid;
  border-radius:3px;
  padding: 2px;
}
.forgotpopup .form-control, .form-control:focus {
  outline:none !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.forgotpopup .input-group .fa{
  color:gray;
}
textarea{
	width:100%;
	height:100px;
	margin-top:5px;
	border-radius:3px;
	padding:5px;
	overflow-y:scroll;
	resize:none;
}
.popup{
  position: relative;
	left: 40%;
	top: 3%;
	padding:0.5%;
	width:28%;
	margin:0px;
	background-color:white;
	border: 5px solid #3e8e41;
}
#termsofusediv .modal-body,#termsofusediv1 .modal-body {
	-webkit-overflow-scrolling: touch !important;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 450px;
	border: 0;

	-ms-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	transform: scale(1.0);

	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.vertical-align-helper {
	left: 10%;
	padding:1%;
	margin:0px;
	min-width: 80%;
	background-color:white;
	display: table;
	position: relative;
	overflow-y: auto;
	overflow-x: auto;
	width: auto;
	border: 5px solid #3e8e41;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
		vertical-align: middle;
}

.forgotpopup {
	left: 35%;
	top: 15%;
	padding:1%;
	width:75%;
	margin:0px;
	background-color:white;
	position: relative;
	border: 5px solid #3e8e41;
}
.img{
	float: right;
	font-size:20px;
	color:#666;
	height:15px;
	width:15px;
	margin-top: -15px;
	margin-right: -15px;
	cursor:pointer;
}
#forgot {
	font-weight:normal;
	font-size:15px;
	cursor:pointer;
	color:#72B944;
}
#forgot:hover {
	color:#C2561A;
}
#signupclick {
	font-weight:normal;
	font-size:15px;
	cursor:pointer;
	color:#72B944;
}
.signinclick, .backtosignin {
	font-weight:normal;
	font-size:15px;
	cursor:pointer;
	color:#72B944;
}
#termsofuseclick{
	font-weight:normal;
	font-size:15px;
	cursor:pointer;
	color:#72B944;
}
#forgotemail {
	width:78%;
}
#sendbtn {
	width:20%;
}
.termslink:hover, #toplink:hover {
	color:white;
	font-weight: bold;
}
#toplink {
	background-color: seagreen;
}
#toplink, .termslink {
	color:lightgray;
	padding:0px 2px 0px 2px;
	text-decoration:none;
	cursor:pointer;
}
div#itemedit {
	margin: 0 auto;
}

div#itemeditdetails {
	margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 footer div a {
	 color:lightgray;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #social-yt:hover {
	 	 color: red;
 }
/* Image widget */
.widget-container .widget {
    margin-bottom: 0
}

.widget-container>.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.image-tile .tile {
    border: 1px solid green;
    height: 100px;
    margin: 0;
    padding: 25px;
    text-align: center;
    vertical-align: bottom
}

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    padding:10%;
    border-radius:3px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin: 0 auto;
		width:100%;
		max-width:700px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:green;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    font-weight:bold;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 5px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;

    height: 12%;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 10px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: -42px;
    position: absolute;
}

#upload ul li span{
    width: 25px;
    height: 12px;
		color:green;
		font-weight:bold;
    position: absolute;
    top: 30px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    /*background-position: 0 -12px;*/
}

#upload ul li.error p{
    color:red;
}

.title-large {
	font-size: 20px;
	margin: 10px 0 5px;
	line-height: 23px;
	color: #141517;
}
.title-small {
	 color: #141517;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 20px;
	 margin: 6px 0 0;
 }
 .itemdtl {
	 z-index:100;
 }
.title-x-small {
	font-size: 18px;
	margin: 0px;
}
.title-large a, .title-small a, .title-x-small a{
	color: inherit;
}
ul#myPager {
	padding: 0px;
	margin: 0px;
	width:auto;
	text-align: center;
}
.pagination>li>a {
	border: 1px solid lightgray;
	border-radius: 50% !important;
	padding: 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0 5px;
	cursor:pointer;
}
.pagination>li>a.active {
	background-color:steelblue!important;
	color:white!important;
	cursor:context-menu;
	text-decoration:none;
}

.pagination>li>a:hover {
	background-color:lightgray;
	text-decoration:none;
}
.itemimage {
	height:150px;
	width:100%;
	padding:0px;
}
.carouselimage {
	height: 45%;
	width:90%;
	margin-left:20px;
}
#btnaddwish {
	box-shadow: 2px 2px crimson;
}

#wishmsgdiv {
	opacity:0.92;
	position: fixed;
	left: 0%;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#wishmsgdiv .popup {
	position:absolute;
	top:20%;
}
.displaytext {
	background-color: #f8f9fa;
	height: 40%;
}
.abovefooter .card-title {
	color:#C2561A;
	min-width:20%;
}
.block {
    display: block;
    float: left;
		padding: 2% 7%;
    color: #333;
    font-size:100%;
    text-decoration: none;
		background-color:#daeee3;
    width: 100%;
}
.dateicon {
	font-size: 24px;
}

span#cal, span#cal1 {
	border: 0px solid transparent;
	background:transparent;
	cursor:pointer;
	color:#0b244c;
}

.veradv {
	background-color:maroon;
	width:300px;
	height:100px;
	border: 1px solid lightgray;
	text-align:center;
	font-weight: bold;
	font-size: 18px;
	color: white;
}
.veradv p {
	margin:2px;
}
.veradv1 {
	width:300px;
	height:250px;
	/*border: 1px solid lightblue;*/
}
.veradv2 {
	width:300px;
	height:200px;
	/*border: 1px solid lightblue;*/
}
.horiadv {
	height:100px;
	/*border: 1px solid lightblue;*/
}

/* item image in itemlist page */
#itmimg:hover {
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
#itmimg {
	border: 1px solid darkgray;
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	margin: 2%;
}
#itmimg.card {
	padding: 0px!important;
}
.scrollmessage {
 height: 25px;
 overflow: hidden;
 position: relative;
}
.scrollmessage h6 {
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 25px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scrollmessage 20s linear infinite;
 -webkit-animation: scrollmessage 20s linear infinite;
 animation: scrollmessage 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrollmessage {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrollmessage {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrollmessage {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
#opendiv,#canNav {display:none; visibility:hidden;}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#canNav hr {
		background-color: #ccc;
}
#canNav a.nav-link {
	border: 1px solid #ccc;
	color: white;
}
#canNav a.nav-link:hover {
	 color:rgb(255, 255, 255, 150);
	 font-weight: bold;
	 background-color: green;
}
/*
	Media Queries
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1160px) {
	section {
		padding-top: 7%;
		padding-bottom: 0;
	}
	.navbar {
		font-size: 95%;
	}
	.vertical-align-helper {
		left: 0;
	}
  .popup{
      left:10%;
      width:80%;
  }
  .forgotpopup{
      left:10%;
      width:80%;
  }
	.content-box{
		width:auto;
	}
.input-group .form-control {
			display: block;
			width:95%;
			margin-bottom: 5px;
			clear: both;
	}
	html {
		-ms-text-size-adjust:80%;
		-webkit-text-size-adjust:80%;
		font-size:80%;
	}
	#opendiv, #canNav {display:none; visibility:hidden;}
}
@media only screen and (max-width: 768px) {
	#itmimg {
		margin:10%;
	}
	section {
		padding-bottom: 7%;
	}
	footer {
		font-size: 90%;
		position:relative!important;
		top:0px;
		height:9%;
		max-height:100%;
		padding-bottom:0px;
	}
	.vertical-align-helper {
		left: 0;
		right:0;
		bottom:0;
	}
	.navbar-toggler-icon {
		height: 35px;
		width: 35px;
	}
	#head {font-size:100%;}
	#opendiv,#canNav {display:block; visibility:visible;}
	div.leftNav, div.releted-content,  #topNav {display:none; visibility:hidden;}
	.table { width: 100%;}
	tr.hide-row { display:table-row; visibility:visible;}
	tr td.hide-col	{ display:none; visibility:hidden; }
	.input-group .form-control {
			display: block;
			margin-bottom: 10px;
			clear: both;
	}
	html {
		-ms-text-size-adjust:80%;
		-webkit-text-size-adjust:80%;
		font-size:80%;
	}
}
@media only screen and (max-width: 420px) {
	#itmimg {
		margin:10%;
	}
	section {
		padding-bottom: 2%;
	}
	footer {
		font-size: 75%;
		position:relative!important;
		top:0px;
		height:6em;
		max-height:100%;
		padding-bottom:0px;
	}
	.navbar-toggler-icon {
		height: 25px;
		width: 30px;
	}
	#head {font-size:100%;}
	#opendiv,#canNav {display:block; visibility:visible;}
	div.leftNav, div.releted-content,  #topNav {display:none; visibility:hidden;}
	tr.hide-row { display:table-row; visibility:visible;}
	tr td.hide-col	{ display:none; visibility:hidden; }
	.input-group .form-control {
				display: block;
				width:95%;
				margin-bottom: 5px;
				clear: both;
		}
	html {
		-ms-text-size-adjust:80%;
		-webkit-text-size-adjust:80%;
		font-size:80%;
	}
}
@media only screen and (max-width: 350px) {
	#itmimg {
		margin:10%;
	}
	footer {
		font-size: 65%;
		position:relative!important;
		top:0px;
		height:6em;
		max-height:100%;
		padding-bottom:0px;
	}
	.vertical-align-helper {
		left: 0;
	}
	.navbar-toggler-icon {
		height: 35px;
		width: 35px;
	}
	#head {font-size:100%;}
	#opendiv,#canNav {display:block; visibility:visible;}
	div.leftNav, div.releted-content, #topNav {display:none; visibility:hidden;}
	tr.hide-row { display:table-row; visibility:visible;}
	tr td.hide-col	{ display:none; visibility:hidden; }
	.input-group .form-control {
				display: block;
				width:95%;
				margin-bottom: 5px;
				clear: both;
		}
	html {
		-ms-text-size-adjust:80%;
		-webkit-text-size-adjust:80%;
		font-size:80%;
	}
}
